Repository seeds-hotpack/krocs-backend, pull requests merged in 2025-09, with the labels that each got.

#100 [refactor] DB status 속성 추가 및 코드 리팩토링
  backend/src/main/java/com/hotpack/krocs/domain/goals/controller/GoalController.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/domain/Goal.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/domain/SubGoal.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/facade/GoalRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/facade/SubGoalRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/repository/GoalRepository.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/repository/SubGoalRepository.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/service/GoalService.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/service/GoalServiceImpl.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/service/SubGoalServiceImpl.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/domain/Plan.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/domain/SubPlan.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/facade/PlanRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/facade/SubPlanRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/repository/PlanRepository.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/repository/SubPlanRepository.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/service/PlanServiceImpl.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/service/SubPlanServiceImpl.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/domain/SubTemplate.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/domain/Template.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/facade/SubTemplateRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/facade/TemplateRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/repository/SubTemplateRepository.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/repository/TemplateRepository.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/service/SubTemplateServiceImpl.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/service/TemplateServiceImpl.java
  backend/src/main/java/com/hotpack/krocs/domain/user/domain/User.java
  backend/src/main/java/com/hotpack/krocs/domain/user/repository/UserRepository.java
  backend/src/main/java/com/hotpack/krocs/global/common/entity/BaseTimeEntity.java
  backend/src/main/java/com/hotpack/krocs/global/common/entity/Status.java
  backend/src/main/java/com/hotpack/krocs/global/config/DevTokenBootstrap.java
  backend/src/test/java/com/hotpack/krocs/domain/goals/service/GoalServiceTest.java
  backend/src/test/java/com/hotpack/krocs/domain/goals/service/SubGoalServiceTest.java
  backend/src/test/java/com/hotpack/krocs/domain/plans/service/PlanServiceTest.java
  backend/src/test/java/com/hotpack/krocs/domain/plans/service/SubPlanServiceTest.java
  backend/src/test/java/com/hotpack/krocs/domain/templates/service/SubTemplateServiceTest.java
  backend/src/test/java/com/hotpack/krocs/domain/templates/service/TemplateServiceTest.java
Labels: ♻️ refactor, 📝 backend

#107 [bug] entity Status import 버그 해결
  backend/src/main/java/com/hotpack/krocs/domain/goals/facade/GoalRepositoryFacade.java
Labels: 📝 backend

#112 [bug] duplicate key 에러
  backend/src/main/java/com/hotpack/krocs/global/config/DevTokenBootstrap.java
Labels: 1

#134 [refactor] Plan에서 subgoal, goal 삭제 / planCategory 요소 추가
  backend/src/main/java/com/hotpack/krocs/domain/plans/controller/PlanController.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/converter/PlanConverter.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/domain/Plan.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/domain/PlanCategory.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/dto/response/PlanResponseDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/dto/response/SubPlanResponseDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/dto/response/SubPlanUpdateResponseDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/exception/PlanExceptionType.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/service/PlanService.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/service/PlanServiceImpl.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/validator/PlanValidator.java
  backend/src/main/resources/db/changelog/changes/006-drop-plans-columns.yaml
  backend/src/test/java/com/hotpack/krocs/domain/plans/converter/PlanConverterTest.java
  backend/src/test/java/com/hotpack/krocs/domain/plans/service/PlanServiceTest.java
  backend/src/test/java/com/hotpack/krocs/domain/plans/validator/PlanValidatorTest.java
Labels: 🔧 chore, 1

#143 [feat] 월별 조회 api 추가
  backend/src/main/java/com/hotpack/krocs/domain/plans/controller/PlanController.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/converter/PlanConverter.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/dto/response/DailyPlanSummaryDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/dto/response/MonthlyPlanResponseDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/exception/PlanExceptionType.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/facade/PlanRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/repository/PlanRepository.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/service/PlanService.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/service/PlanServiceImpl.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/validator/PlanValidator.java
  backend/src/test/java/com/hotpack/krocs/domain/plans/repository/PlanRepositoryFacadeTest.java
  backend/src/test/java/com/hotpack/krocs/domain/plans/service/PlanServiceTest.java
  backend/src/test/java/com/hotpack/krocs/domain/plans/validator/PlanValidatorTest.java
Labels: ✨ feat, ✅ test, 📝 backend, 1

#149 [fix] 대목표 목록조회 수정
  backend/src/main/java/com/hotpack/krocs/domain/goals/controller/GoalController.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/repository/GoalRepository.java
Labels: 🐛 fix, 1
