Repository seeds-hotpack/krocs-backend, pull requests merged in 2025-08, with the labels that each got.

#61 fix/#60/sub goal update
  backend/src/main/java/com/hotpack/krocs/domain/goals/converter/GoalConverter.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/converter/SubGoalConverter.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/domain/Goal.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/domain/SubGoal.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/dto/response/SubGoalResponseDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/facade/GoalRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/facade/SubGoalRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/service/GoalServiceImpl.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/service/SubGoalServiceImpl.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/controller/TemplateController.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/converter/TemplateConverter.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/domain/Template.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/service/TemplateServiceImpl.java
  backend/src/test/java/com/hotpack/krocs/domain/goals/converter/GoalConvertorTest.java
  backend/src/test/java/com/hotpack/krocs/domain/goals/service/GoalServiceTest.java
  backend/src/test/java/com/hotpack/krocs/domain/goals/service/SubGoalServiceTest.java
  backend/src/test/java/com/hotpack/krocs/domain/templates/service/TemplateServiceTest.java
Labels: 🐛 fix, 📝 backend, 1

#65 [feat] 서브템플릿 생성 API 및 서비스 구현
  backend/src/main/java/com/hotpack/krocs/domain/templates/controller/TemplateController.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/converter/SubTemplateConverter.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/domain/SubTemplate.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/dto/request/SubTemplateCreateRequestDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/dto/request/SubTemplateRequestDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/dto/response/SubTemplateCreateResponseDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/dto/response/SubTemplateResponseDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/exception/SubTemplateException.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/exception/SubTemplateExceptionType.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/facade/SubTemplateRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/service/SubTemplateService.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/service/SubTemplateServiceImpl.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/db/changelog/changes/002-remove-unused-columns.yaml
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/test/java/com/hotpack/krocs/domain/templates/converter/SubTemplateConverterTest.java
  backend/src/test/java/com/hotpack/krocs/domain/templates/service/SubTemplateServiceImplTest.java
Labels: ✨ feat, ✅ test, 📝 backend, 1

#66 [feat] 일정 생성 API 및 서비스 구현
  backend/src/main/java/com/hotpack/krocs/domain/goals/dto/request/GoalCreateRequestDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/facade/SubGoalRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/service/GoalValidator.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/controller/PlanController.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/converter/PlanConverter.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/domain/Plan.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/dto/request/PlanCreateRequestDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/dto/response/PlanCreateResponseDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/exception/PlanException.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/exception/PlanExceptionType.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/facade/PlanRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/service/PlanService.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/service/PlanServiceImpl.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/validator/PlanValidator.java
  backend/src/test/java/com/hotpack/krocs/domain/goals/converter/GoalConvertorTest.java
  backend/src/test/java/com/hotpack/krocs/domain/goals/service/GoalServiceTest.java
  backend/src/test/java/com/hotpack/krocs/domain/plan/converter/PlanConverterTest.java
  backend/src/test/java/com/hotpack/krocs/domain/plan/service/PlanServiceTest.java
  backend/src/test/java/com/hotpack/krocs/domain/plan/validator/PlanValidatorTest.java
Labels: ✨ feat, ✅ test, 📝 backend, 1

#72 [feat] 서브템플릿 삭제 API 및 서비스 구현
  backend/src/main/java/com/hotpack/krocs/domain/templates/controller/SubTemplateController.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/dto/response/SubTemplateDeleteResponseDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/facade/SubTemplateRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/facade/TemplateRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/repository/SubTemplateRepository.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/service/SubTemplateService.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/service/SubTemplateServiceImpl.java
  backend/src/test/java/com/hotpack/krocs/domain/templates/service/SubTemplateServiceTest.java
Labels: ✨ feat, ✅ test, 📝 backend, 1

#69 [feat] 서브템플릿 조회 API 및 서비스 구현
  backend/src/main/java/com/hotpack/krocs/domain/templates/controller/SubTemplateController.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/controller/TemplateController.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/converter/SubTemplateConverter.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/dto/response/SubTemplateDeleteResponseDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/exception/SubTemplateExceptionType.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/facade/SubTemplateRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/facade/TemplateRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/repository/SubTemplateRepository.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/service/SubTemplateService.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/service/SubTemplateServiceImpl.java
  backend/src/test/java/com/hotpack/krocs/domain/templates/converter/SubTemplateConverterTest.java
  backend/src/test/java/com/hotpack/krocs/domain/templates/service/SubTemplateServiceImplTest.java
  backend/src/test/java/com/hotpack/krocs/domain/templates/service/SubTemplateServiceTest.java
Labels: ✨ feat, ✅ test, 📝 backend, 1

#71 [feat] 일정 수정 API 및 서비스 구현
  backend/src/main/java/com/hotpack/krocs/domain/plans/controller/PlanController.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/converter/PlanConverter.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/domain/Plan.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/dto/request/PlanUpdateRequestDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/exception/PlanExceptionType.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/service/PlanService.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/service/PlanServiceImpl.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/validator/PlanValidator.java
  backend/src/test/java/com/hotpack/krocs/domain/plans/converter/PlanConverterTest.java
  backend/src/test/java/com/hotpack/krocs/domain/plans/service/PlanServiceTest.java
  backend/src/test/java/com/hotpack/krocs/domain/plans/validator/PlanValidatorTest.java
Labels: ✨ feat, ✅ test, 📝 backend, 1

#73 [feat] 세부일정(SubPlans) 수정 API
  backend/src/main/java/com/hotpack/krocs/domain/plans/controller/SubPlanController.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/converter/SubPlanConverter.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/domain/SubPlan.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/dto/request/SubPlanUpdateRequestDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/dto/response/SubPlanUpdateResponseDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/service/SubPlanService.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/service/SubPlanServiceImpl.java
  backend/src/test/java/com/hotpack/krocs/domain/plans/service/SubPlanServiceTest.java
Labels: ✨ feat, 📝 backend, 1

#38 [Init/#37] 백엔드 CI 스크립트 작성
  .github/workflows/backend-ci.yml
  backend/build.gradle
Labels: 🎉 init, 2

#77 [feat] 일정(Plans) 삭제
  backend/src/main/java/com/hotpack/krocs/domain/plans/controller/PlanController.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/converter/PlanConverter.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/exception/PlanExceptionType.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/facade/PlanRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/service/PlanService.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/service/PlanServiceImpl.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/validator/PlanValidator.java
  backend/src/test/java/com/hotpack/krocs/domain/plans/service/PlanServiceTest.java
Labels: ✨ feat, ✅ test, 📝 backend, 1

#79 [fix] WebConfig .java 확장자명 추가(#78)
  backend/src/main/java/com/hotpack/krocs/global/config/WebConfig.java
Labels: 🐛 fix, 📝 backend, 1

#86 [Feat/#81] 스프링 시큐리티 설정 및 인증 / 인가 구현
  backend/ReadMe.md
  backend/build.gradle
  backend/docker/redis/docker-compose.yml
  backend/src/main/java/com/hotpack/krocs/domain/auth/controller/AuthTestController.java
  backend/src/main/java/com/hotpack/krocs/domain/auth/dto/UserSession.java
  backend/src/main/java/com/hotpack/krocs/domain/auth/service/RedisTokenService.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/controller/GoalController.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/converter/GoalConverter.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/dto/response/GoalCreateResponseDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/service/GoalServiceImpl.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/controller/PlanController.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/converter/PlanConverter.java
  backend/src/main/java/com/hotpack/krocs/domain/plans/service/PlanServiceImpl.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/controller/TemplateController.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/converter/TemplateConverter.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/service/TemplateServiceImpl.java
  backend/src/main/java/com/hotpack/krocs/domain/user/repository/UserRepository.java
  backend/src/main/java/com/hotpack/krocs/global/config/AuthWebConfig.java
  backend/src/main/java/com/hotpack/krocs/global/config/DevTokenBootstrap.java
  backend/src/main/java/com/hotpack/krocs/global/config/RedisConfig.java
  backend/src/main/java/com/hotpack/krocs/global/config/SecurityConfig.java
  backend/src/main/java/com/hotpack/krocs/global/config/SwaggerConfig.java
  backend/src/main/java/com/hotpack/krocs/global/config/WebConfig.java
  backend/src/main/java/com/hotpack/krocs/global/security/annotation/Login.java
  backend/src/main/java/com/hotpack/krocs/global/security/auth/TokenAuthentication.java
  backend/src/main/java/com/hotpack/krocs/global/security/auth/TokenAuthenticationProvider.java
  backend/src/main/java/com/hotpack/krocs/global/security/filter/TokenAuthFilter.java
  backend/src/main/java/com/hotpack/krocs/global/security/handler/RestAccessDeniedHandler.java
  backend/src/main/java/com/hotpack/krocs/global/security/handler/RestAuthenticationEntryPoint.java
  backend/src/main/java/com/hotpack/krocs/global/security/resolver/LoginArgumentResolver.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application-test.yml
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/changelog/changes/001-initial-schema.yaml
  backend/src/main/resources/db/changelog/changes/003-add-goals-user-id.yaml
  backend/src/main/resources/db/changelog/changes/004-drop-goals-duration.yaml
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/test/java/com/hotpack/krocs/AuthE2ETest.java
  backend/src/test/java/com/hotpack/krocs/domain/goals/repository/GoalRepositoryTest.java
  backend/src/test/java/com/hotpack/krocs/domain/goals/service/GoalServiceTest.java
  backend/src/test/java/com/hotpack/krocs/domain/plans/service/PlanServiceTest.java
  backend/src/test/java/com/hotpack/krocs/domain/templates/service/TemplateServiceTest.java
Labels: ♻️ refactor, 🎉 init, 📝 backend

#88 feat: Docker 관련 파일 생성
  backend/.dockerignore
  backend/Dockerfile
  backend/docker-compose.yml
Labels: ✨ feat
