Repository seeds-hotpack/krocs-backend, pull requests merged in 2025-07, with the labels that each got.

#18 [init] swagger 초기 세팅(#16)
  backend/src/main/java/com/hotpack/krocs/KrocsApplication.java
Labels: 🎉 init

#25 [refactor] entity 기반 구조로 변경
  backend/src/main/java/com/hotpack/krocs/domain/goals/controller/GoalController.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/domain/Goal.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/domain/SubGoal.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/dto/GoalDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/exception/GoalExceptionType.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/repository/GoalRepository.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/repository/SubGoalRepository.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/service/GoalService.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/service/GoalServiceImpl.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/controller/TemplateController.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/domain/SubTemplate.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/domain/Template.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/dto/TemplateDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/exception/TemplateExceptionType.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/repository/SubTemplateRepository.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/repository/TemplateRepository.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/service/TemplateService.java
  backend/src/main/java/com/hotpack/krocs/domain/templates/service/TemplateServiceImpl.java
Labels: 📝 backend, 2

#35 [feat/#11] 소목표(SubGoal) CRUD API 및 서비스 구현
  backend/src/main/java/com/hotpack/krocs/domain/goals/controller/GoalController.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/controller/SubGoalController.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/converter/GoalConverter.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/converter/SubGoalConverter.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/convertor/GoalConvertor.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/domain/Goal.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/domain/SubGoal.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/dto/request/CreateGoalRequestDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/dto/request/GoalCreateRequestDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/dto/request/SubGoalCreateRequestDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/dto/request/SubGoalRequestDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/dto/request/SubGoalUpdateRequestDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/dto/response/CreateGoalResponseDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/dto/response/SubGoalCreateResponseDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/dto/response/SubGoalListResponseDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/dto/response/SubGoalResponseDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/dto/response/SubGoalUpdateResponseDTO.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/exception/SubGoalException.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/exception/SubGoalExceptionType.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/facade/GoalRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/facade/SubGoalRepositoryFacade.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/repository/GoalRepository.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/repository/SubGoalRepository.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/service/GoalService.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/service/GoalServiceImpl.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/service/SubGoalService.java
  backend/src/main/java/com/hotpack/krocs/domain/goals/service/SubGoalServiceImpl.java
  backend/src/test/java/com/hotpack/krocs/domain/goals/convertor/GoalConvertorTest.java
  backend/src/test/java/com/hotpack/krocs/domain/goals/service/GoalServiceTest.java
  backend/src/test/java/com/hotpack/krocs/domain/goals/service/SubGoalServiceTest.java
Labels: ✨ feat, 📝 backend, 1
